:root {
  font-family: system-ui;
  color-scheme: light dark;
  background-color: #ffffff00;
  margin: 0;
  padding: 0;

  --color-primary: rgb(96, 156, 211,0.5);
  --color-secondary: rgb(96, 156, 211,0.5);
  --color-text: #ffffff;
  --color-button: rgb(96, 156, 211);
  --color-button-hover: rgb(96, 156, 211);
}